@font-face {
    font-family: 'rubik';
    src: url('./fonts/rubik/Rubik-Regular.ttf');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'rubik';
    src: url('./fonts/rubik/Rubik-Medium.ttf');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'rubik';
    src: url('./fonts/rubik/Rubik-Bold.ttf');
    font-display: swap;
    font-weight: 700;
}
