@use '../abstracts/functions' as fns;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: fns.getColor('white');
    font: 400 1rem/1.5 'rubik', Arial, sans-serif;
}

a {
    display: block;

    text-decoration: none;
    color: fns.getColor('black');
}

button {
    background-color: transparent;
    border: none;
    color: fns.getColor('white');
    outline: none;
    font: 400 1rem/1.5 'rubik', Arial, sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
