/*

    SUMMARY: 
  
    1. Font Faces
    2. Global Styles
    3. Custom Styles

*/

/*
    z-index used: 
      header: 1
      backdrop: 2
      navbar | modal: 3
*/

/* --- 1. Font Faces --- */
@import './core/font-faces';

/* --- 2. Global Styles --- */
@import './core/global';

/* --- 3. Custom Styles --- */
@import './core/custom';
